@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.scroll-container {
  /* Set a maximum height for demonstration purposes */
  overflow-x: scroll;
  /* Enable vertical scrollbar */
  scrollbar-width: 1px;
  /* Firefox */
}

/* Webkit browsers (Chrome, Safari) */

.scroll-container::-webkit-scrollbar {
  width: 0px;
  height: 0px !important;
  /* Set the width of the scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* Set the color of the scrollbar thumb */
  border-radius: 3px;
  /* Set the border-radius of the scrollbar thumb */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Set the color of the scrollbar track */
}

.carousel__pagination-button--active::after {
  background-color: rgb(255, 81, 0) !important;
  width: 20px !important;
}

<style > .carousel__pagination-button::after {
  display: block;
  content: "";
  width: var(--vc-pgn-width);
  height: var(--vc-pgn-height);
  border-radius: var(--vc-pgn-border-radius);
  background-color: #fc43057e !important;
}

:root {
  --vc-clr-primary: #000;
  --vc-clr-secondary: #090f207f;
  --vc-clr-white: #ffffff;
  --vc-icn-width: 1.2em;
  --vc-nav-width: 30px;
  --vc-nav-height: 30px;
  --vc-nav-border-radius: 0;
  --vc-nav-color: var(--vc-clr-primary);
  --vc-nav-color-hover: var(--vc-clr-secondary);
  --vc-nav-background: transparent;
  --vc-pgn-width: 8px !important;
  --vc-pgn-height: 8px !important;
  --vc-pgn-margin: 4px;
  --vc-pgn-border-radius: 32px !important;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgb(255, 40, 2);
  background: #fff;
  cursor: pointer;
  margin-top: -1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="radio"] {
  display: grid;
  place-content: center;
  appearance: none;
  margin: 0 0 0;
  width: 1.2rem;
  border-radius: 10px;
  height: 1.2rem;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ff6b00;
}

input[type="radio"]:checked {
  background-color: #ff6b00;
}

input[type="checkbox"] {
  display: grid;
  place-content: center;
  appearance: none;
  margin: 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #ff6b00;
}

input[type="checkbox"]:checked {
  background-color: #ff6b00;
}

.radio {
  grid-template-columns: 1rem auto;
  gap: 0.5rem;
  background-color: hsl(183, 100%, 15%);
}
